/*--RESET PASSWORD LAYOUT--*/
#ie-resetpw-wrapp {
	width: 597px\9;
	height: auto;
	margin-bottom: 140px;
}
#ie-resetpw-form-wrapp {
	width: 597px\9;
	height: auto;
	margin-bottom: 140px;
	margin: auto;
}
#ie-label-rspw-wrapp {
	width: 597px\9;
	height: auto;
	margin: auto;
}