@media all and (max-width: 320px)
{
	
}
@media all and (min-width: 321px) and (max-width: 480px)
{

}
@media all and (min-width: 481px) and (max-width: 600px)
{

}
@media all and (min-width: 601px) and (max-width: 800px)
{

}
@media all and (min-width: 801px) and (max-width: 1024px)
{

}
@media all and (min-width: 1025px)
{
}
#borderTop
{
	width: 97%;
	height: 60px;
	margin: auto;
	margin-top: 13px;
	border-radius: 10px 10px;
	border:  solid 1px #c3c3c3;
	background-color: #ddd;
	text-align: center;
	line-height: 60px;
}
#profileMain
{
	padding: 30px;
}
.iconUser
{
	color: #939292;
	font-size: 40px;
}
.comeBackIndex
{
	cursor: pointer;
	font-size: 18px;
	margin: 20px 0 0 20px;
	display: none
}